@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    font-size: 24px;
}
.vl {
    border-left: 2px solid grey;
    height: 300px;
    position: absolute;
    left: 49%;
    
  }
  @media screen and (max-width: 640px) {
    .vl {
     visibility: hidden;
    }
  }

  .vb {
    border-left: 2px solid grey;
    height: 300px;
    position: absolute;
    left: 11%;
    
  }
  @media screen and (max-width: 640px) {
    .vb {
     visibility: hidden;
    }
  }
